<style>
body{
    background: #FFE4C4;
}
.heading {
  font-weight: bold;
  color: #00008B;
  font-size: 40px;
  text-align:center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.top-banner form {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 30%;
}
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 24px;
  text-align: center;
}
.top-banner form button {
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 15px 20px;
  margin-left: 15px;
  border-radius: 25px;
  background:#9ACD32;
  transition: background 0.3s ease-in-out;
}
.top-banner form .msg {
  position: absolute;
  top: 75px;
  left: 0;
  color:#FF0000;
}
.ajax-section {
  margin: 70px 0 20px;
}
.ajax-section .cities {
  display: grid;
  grid-gap: 32px 20px;
  grid-template-columns: repeat(4, 1fr);
}
.ajax-section .city {
  position: relative;
  padding: 40px 10%;
  border-radius: 15px;
  background: #FF7F50;
  text-align: center;
  list-style: none;
}
</style>
